<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- remove inherited connection strings -->
    <clear />
	<add key="unnamedstudios" value="https://pkgs.dev.azure.com/unnamedstudios/_packaging/unnamedstudios/nuget/v3/index.json" />
	<add key="Zero" value="https://pkgs.dev.azure.com/unnamedstudios/06f25171-1921-4954-8931-d08fb46ef7d4/_packaging/Zero/nuget/v3/index.json" />
    <!-- Get packages from NuGet.org -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>